<%- include('header'); -%>

<div class="container">
    <div>
        <img src="/images/vector.svg" alt="">
    </div>
    <div class="CTA">
       <p>Manage your clinic patients with ease</p> 
        <a href="/add-patient" class="btn btn-primary" style="margin-left: 50px;">New patient</a>
        <a href="/showPatients" class="btn btn-danger">Old patient</a>
    </div>
    
</div>


<%- include('footer'); -%>